/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1903px;
    margin: auto;
  }
  .sechombf {
    height: 900px;
  }

}



@media only screen and (max-width:1024px) {
  .sec-logo-img {
    width: 50%;
  }
  .secfootermenu li {
    padding-bottom: 20px;
}
  .secrrww {
    display: flex;
    flex-direction: row;
}

  .seclogow {
    width: 30% !important;
}
  .navbar-expand-xl .navbar-nav {
    flex-direction: column;
    display: flex;
    justify-content: flex-end !important;
  }
  .secwhitpad {
    width: 100% !important;
  }
  .paddhero2 {
    padding-top: 10px !important;
    padding: 0px;
  }
  .paddhero {
    padding-top: 170px;
  }
  .sechertext {
    margin-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
  }
  .sechertext h1 {
    font-size: 30px;
  }
  .sechertext p {
    font-family: 'Space Grotesk';
    color: #fff;
    font-size: 15px;
  }
  .secbtnhero a {
    font-size: 15px;
    border-radius: 30px;
    padding: 10px 20px;
}
.secbtnhero {
  padding-top: 30px;
  padding-bottom: 30px;
}
  .container-fluid.py-0.sec-menu-bgg {
    padding: 0;
}
  .secmodihid {
    display: none;
  }

  a.navbar-brand {
    width: 77% !important;
  }

  .navbar-brand {
    padding: 0;
  }

  button.navbar-toggler {
    background:#000;
    border: 1px solid #fff;
    margin-top: 17px;
    height: 45px;
    padding: 13px 15px;

  }
  .secwhitpad2 {
    padding: 0px;
}

.offcanvas-header {
  background: #000;
}

.headermenusec {
  color: #000;
}

.navbar-nav>li>a {
  padding-top: 0px !important;
  padding-bottom: 0px;
  line-height: 40px;
  font-size: 18px !important; 
}

.navbar-nav {
  margin: 0;
}
.foundd-bgg2 {
  width: 100%;
}
.secvisbgg {
  margin-top: -2px;
  margin-bottom: -2px;
}
.secvisbgg {
  padding: 48px;
}
.secvisintext {
  font-size: 54px;
}
.secheaddhove {
  font-size: 35px;
}
.secgyntext h4{
  font-size: 35px;
}
.newsbgg {
  background-color: #000;
  margin-top: -2px;
}
.marrabout {
  margin-top: -100px;
}
.secmemberbg {
  margin-bottom: 40px;

}
.sechombf {
  height: 984px;
}
.secentertop , .secentertop2 , .seleftmenutob , .seleftmenubootm {
  font-size: 25px;
}
}




/*  */
@media only screen and (max-width:999px) {

}


@media only screen and (max-width:768px) {
  .sectestimbg{
    padding: 10px;
  }
  .bckgsec {
    padding: 10px;
}
  .sec-logo-img {
    width: 50%;
  }
  .secfootermenu li {
    padding-bottom: 20px;
}
  .secrrww {
    display: flex;
    flex-direction: row;
}

  .seclogow {
    width: 60% !important;
    padding-top: 10px;
}
  .navbar-expand-xl .navbar-nav {
    flex-direction: column;
    display: flex;
    justify-content: flex-end !important;
  }
  .secwhitpad {
    width: 100% !important;
  }
  .claimgtbb {
    padding-top: 60px;
    padding-bottom: 30px;
}
.secbtnble a {
    padding: 10px 15px;

}
.secbgblr2 {
    padding: 5px;
    width: 53%;
}
.secbtnble2 a {
    padding: 10px 13px;
}
  a.navbar-brand {
    width: 77% !important;
  }

  .navbar-brand {
    padding: 0;
  }

  button.navbar-toggler {
    background: #000;
    border: 1px solid #fff;
    margin-top: 17px;
    height: 45px;
    padding: 13px 15px;

  }
  .offcanvas-header {
    background: #000;
  }

  .headermenusec {
    color: #000;
  }

  .navbar-nav>li>a {
    padding-top: 0px !important;
    padding-bottom: 0px;
    line-height: 40px;
    font-size: 18px !important; 
  }
  .sectheay {
    font-size: 13px;
  }
  .sectheay2 {
    font-size: 13px;
  }
  .herosefor button {
    font-size: 16px;
  }
.secherotext p {
    font-size: 20px;
}
  .navbar-nav {
    margin: 0;
  }
.secherotext h1 {
    font-size: 40px;
}
.secherotext h4 {
    font-size: 26px;
 }
 .secherotext h5{
    font-size: 30px;
 }
.secherotext {
    padding-bottom: 32px;
}
br {
    display: none;
}
.fw-bold2 {
    font-size: 33px;
}
.semmbebt {
    margin-top: -150px !important;
    margin-bottom: 50px;
    padding: 0;
    margin-left: -133px;
}

.secbggb2b {
    padding: 20px;
    border-radius: 100px 0px 0px 00px;
}
.secorgtext h3 {
    font-size: 30px;
}
.secbgblr {
    width: 55%;
    margin-top: -220px;
    border-radius: 20px;
}

.secorgtext2 h3 {
    font-size: 30px;
}
.secmedibgg {
    padding: 60px 20px;
}
.secourtext{
    font-size: 30px;
 }
.secouttitle h3 {
   font-size: 30px;

}
.orbggsec {
    width: 100%;
}
.secletbg {
    padding: 40px 20px;
}
.secletbg h2 {
    font-size: 35px;
}
.secletbg h3 {
    font-size: 18px;
}

.secommbg {
    width: 100%
}
.seccommtitt h2 {
    font-size: 30px;
}
.secsocmetext {
    font-size: 30px;
}
.secpahersheadd{
    font-size: 40px;
    padding-bottom: 90px;
 }
 .secvalueddff {
    display: flex
;
    flex-direction: row;
    flex-wrap: wrap;
}
.seccartext h2 {
    font-size: 30px;
}
.sechedval {
    font-size: 30px;
}
.secradytext {
    font-size: 30px;
}
.secfooterbg {
    padding: 40px 10px;
}
.headeraboutbg {
    height: auto;
}
.allpagelogosec .headermenusec {
    color: #000;
}
.allpagesec{
  padding-top: 20px;
}
.secmanagtext h3 {
    font-family: 'Montserrat';
    font-size: 27px;
}
.secbgmanag {
    padding: 40px 10px;
}
.secultapula{
  display: flex;
  flex-direction: column-reverse;
}
.sechedval2 {
    font-size: 30px;

}
.secsocbg {
    display: flex;
    flex-direction: column;
}
.sectrusttextbg h3 {
    font-size: 30px;
}
.contbgg {
    padding: 40px 20px;
    width: 100%;
    margin: auto;
}
.secmdhbg {
    padding: 40px 20px 200px 20px;
}
.socsmesbg {
    display: flex;
    padding-bottom: 20px;
}
.secwhtext2 {
    font-size: 30px;
    padding: 10px 0px;
}
.secwhtext {
    font-size: 30px;
    padding-bottom: 20px;

}
#button{
    bottom: 35px;
 }
}










@media only screen and (max-width:380px) {
  .newsletter-text h2 {
    font-size: 30px;
}
.seclogow {
  width: 78% !important;
}
.secwhitpad2 {
  margin-top: -5px;
  padding-top: 0px;
}
.flodbackmargin h2 {
  font-size: 30px;
}
.newsletter-text h2 , .newsletter-text h2 span{
  font-size: 30px;
}
.newsletter-form input {
  font-size: 14px;
}
.secwhat , .secwhat span{
  font-size: 25px;
}
.secffftext {
  margin: 0;
  font-size: 40px;
  padding-bottom: 20px;
}
.container-fluid.secwhitpad.align-items-start {
  padding: 10px 0px;
}
.secclapad {
  padding: 0px 0px 40px 0px;
}
.artboxtext h4 {
  font-size: 20px;
}
.artboxtext p {
  font-size: 17px;
}
.heaname h2 {
  font-size: 36px;
}
.gallery_item {
  padding: 0px;
}
.martarts2 .col-md-4 {
  padding: 0;
}
.secdetasec h4 {
  font-size: 19px;
}
.col-lg-5.secpaacont2 , .col-lg-7.secpaacont{
  padding: 0px;
}

}


@media only screen and (max-width:320px) {
  .newsletter-text h2 {
    font-size: 25px;
}
.secwhitpad2 {
  margin-top: -5px;
  padding-top: 0px;
}
.flodbackmargin h2 {
  font-size: 25px;
}
}